
.wrapper{
margin:0;
padding:0;
}

.app-holder{
padding: 0;
width:80%;
height:100vh;
margin:0 auto;
display:flex;
flex-direction: row;
gap:10px;
background-color: aqua;

}
.searchArea{
position:sticky;
top:0;
left:0;
}
.left-block{
flex:0 1 35wh;
border:2px solid black;
}
.central-block{
over-flow:scroll;
flex:1 1 500px;
width:900px;}

.right-block{
flex:0 1 200px;
border:2px solid black;
}
.selected-item{
font-weight: bold;
height:25px;

}

.marked{
background-color: brown;
}