::-webkit-scrollbar {
 width: 5px;
}
::-webkit-scrollbar-track {
 border-radius: 10px;
}
::-webkit-scrollbar-thumb {
 
 background: -webkit-linear-gradient(to right, #111010, #f1f1ee);
 background: linear-gradient(to right, #181818, #f0eeea);
}
::-webkit-scrollbar-thumb:hover {
 background: #333;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}


.wrapper{
margin:0;
padding:0;
}

li{margin:10px 0;
border:solid 1px bisque
}

.app-holder{padding: 0;
width:80%;
height:100vh;
margin:0 auto;
display:flex;
flex-direction: row;
background-color: rgb(194, 207, 207);
}

.searchArea{
padding: 5px;
background-color: rgb(17, 17, 17);
position:sticky;
top:0;
left:0;
}

#searchResultHolder{
padding:20px 0;

}

.leftBlock{
max-width:280px;
flex:0 1 35wh;
border:2px solid black;
overflow-y:auto;
}
.central-block{
flex:1 1 500px;
width:900px;}

.right-block{
flex:0 1 200px;
border:2px solid black;
}
.selected-item{
font-weight: bold;
height:25px;
background-color: cadetblue;

}
#toReadList{
height: 90vh;
overflow-y:autol;
background-color: rgb(151, 146, 147);


}
.marked{
transition: 3s;
background-color: rgb(112, 117, 112);
}

.marked button{
display:none;
}
.statisticArea{
background-color: black;
color:darkgrey;
position:sticky;
bottom:0;
left:0;
}

#searchResultHolder div{
margin: 5px;
padding: 5px;
   background-color: rgb(245, 236, 226);
}